
@font-face {
	font-family: 'OFL Sorts Mill Goudy';
	src: url('regular.eot');
	src: url('regular.eot?') format('embedded-opentype'),
	     url('regular.ttf') format('truetype');
}

@font-face {
	font-family: 'OFL Sorts Mill Goudy';
	font-style: italic;
	src: url('italic.eot');
	src: url('italic.eot?') format('embedded-opentype'),
	     url('italic.ttf') format('truetype');
}
