           <!-- Slider Inside Grid -->
            <div class="banner-container">
              <div class="banner">
                <ul>
                  <!-- First slide -->
                  <li data-transition="papercut" data-slotamount="1">
                    <!-- Slider Background Image -->
                    <img src="assets/s1.jpg" alt="" />
                    <div class="caption sft logo" data-x="center" data-y="center" data-voffset="-10" data-speed="700" data-start="1400" data-easing="easeOutBack">
                      <h3 class="br-red">BOXCOL</h3>
                    </div>
                    <!-- Logo text no. 1 -->
                    <div class="caption lft" data-x="center" data-hoffset="-368" data-y="center" data-voffset="30" data-speed="700" data-start="1400" data-easing="easeOutBack" data-endeasing="easeOutBack">
                      <span class="logo-text br-red">B</span>
                    </div>
                    <!-- Logo text no. 2 -->
                    <div class="caption lfb" data-x="center" data-hoffset="-220" data-y="center" data-voffset="30" data-speed="700" data-start="1900" data-easing="easeOutBack">
                      <span class="logo-text br-red">O</span>
                    </div>
                    <!-- Logo text no. 3 soon... -->
                    <div class="caption lft" data-x="center" data-hoffset="-73" data-y="center" data-voffset="30" data-speed="700" data-start="2400" data-easing="easeOutBack">
                      <span class="logo-text br-red">X</span>
                    </div>
                    <div class="caption lfb" data-x="center" data-hoffset="73" data-y="center" data-voffset="30" data-speed="700" data-start="2900" data-easing="easeOutBack">
                      <span class="logo-text br-red">C</span>
                    </div>
                    <div class="caption lft" data-x="center" data-hoffset="220" data-y="center" data-voffset="30" data-speed="700" data-start="3400" data-easing="easeOutBack">
                      <span class="logo-text br-red">O</span>
                    </div>
                    <div class="caption lfb" data-x="center" data-hoffset="368" data-y="center" data-voffset="30" data-speed="700" data-start="3900" data-easing="easeOutBack">
                      <span class="logo-text br-red">L</span>
                    </div>
                  </li>
                  <!-- Second Slide -->
                  <li data-transition="slotzoom-horizontal" data-slotamount="1">
                    <!-- Slider Background Image -->
                    <img src="assets/s2.jpg" alt="" />
                    <!-- No 1 -->
                    <div class="caption lft" data-x="center" data-y="top" data-speed="1000" data-start="1500" data-easing="easeInSine">
                      <img src="assets/cloud1.png" alt="" />
                    </div>
                    No 2
                    <div class="caption sfr" data-x="right" data-y="center" data-voffset="30" data-speed="1000" data-start="1900" data-easing="easeInSine">
                      <img src="assets/cloud2.png" alt="" />
                    </div>
                    <!-- No 3 -->
                    <div class="caption sfl" data-x="left" data-y="center" data-voffset="30" data-speed="1000" data-start="2400" data-easing="easeInSine">
                      <img src="assets/cloud3.png" alt="" />
                    </div>
                    <!-- No 4 -->
                    <div class="caption sfb large_text" data-x="center" data-y="80" data-speed="500" data-start="3400" data-easing="easeOutBack">
                      <h4>WITH REVOLUTION!</h4>
                    </div>
                    <!-- No 5 -->
                    <div class="caption lfl dummy3" data-x="center" data-y="150" data-speed="500" data-start="4000" data-easing="easeOutBack">
                      <p class="white">Letraset sheets contare anyone whoras transaction again isgr<br /> anyone who because it is pleasure .It was popularised in the<br /> release of Letraset sheets containing Lorem Ipsum passages.</p>
                    </div>
                    <!-- No 6 -->
                    <div class="caption sfb" data-x="right" data-hoffset="-100" data-y="center" data-speed="500" data-start="4700" data-easing="easeInSine">
                      <img src="assets/bird2.png" alt="" class="img-responsive slide-two" />
                    </div>
                    <!-- No 7 -->
                    <div class="caption sft" data-x="left" data-hoffset="100" data-y="center" data-speed="500" data-start="5400" data-easing="easeInSine">
                      <img src="assets/bird1.png" alt="" class="img-responsive slide-two" />
                    </div>
                    <!-- No 8 -->
                      <!-- Slider Caption Button -->
                    <div class="caption sfb btn-one" data-x="center" data-hoffset="-60" data-y="250" data-speed="500" data-start="6000" data-easing="easeOutCirc">
                      <a href="#" class="caption-button br-red"><i class="fa fa-cloud-download"></i> Download</a>
                    </div>
                    <!-- No 9 -->
                    <div class="caption sfb btn-two" data-x="center" data-hoffset="60" data-y="250" data-speed="500" data-start="6400" data-easing="easeOutCirc">
                      <a href="#" class="caption-button br-green"><i class="fa fa-desktop"></i> Try now</a>
                    </div>
                  </li>
                  <!-- Third Slide -->
                  <li data-transition="papercut" data-slotamount="1">
                    <!-- Slider background Image -->
                    <img src="assets/s3.jpg" alt="" />
                    <!-- No 1 -->
                    <div class="caption sfl" data-x="left" data-y="center" data-speed="800" data-start="1200" data-easing="easeInOutBack">
                      <img src="assets/s31.png" alt="" class="img-responsive slide-three" />
                    </div>
                    <!-- No 2 -->
                    <div class="caption sft" data-x="left" data-hoffset="150" data-y="center" data-voffset="60" data-speed="800" data-start="1800" data-easing="easeInOutBack">
                      <img src="assets/s32.png" alt="" class="img-responsive slide-three" />
                    </div>
                    <!-- No 3 -->
                    <div class="caption sfb" data-x="left" data-hoffset="20" data-y="center" data-voffset="60" data-speed="800" data-start="2400" data-easing="easeInOutBack">
                      <img src="assets/s33.png" alt="" class="img-responsive slide-three" />
                    </div>
                    <div class="caption sft c-heading br-orange"  data-x="right" data-y="50" data-speed="500" data-start="3400" data-easing="easeOutBack">SLIDER REVOLUTION!</div>
                    <div class="caption lfr dummy3" data-x="right" data-y="130" data-speed="500" data-start="4200" data-easing="easeOutBack">
                      <p class="s-para">Letraset sheets contare anyone whoras transaction again <br /> anyone who because it is pleasure .It was popularised.</p>
                    </div>
                      <!-- Slider Caption Button -->
                    <div class="caption sfb" data-x="right" data-y="200" data-hoffset="-120" data-speed="500" data-start="5000" data-easing="easeOutCirc">
                      <a href="#" class="caption-button br-red"><i class="fa fa-laptop"></i> Show now</a>
                    </div>
                    <div class="caption sfb btn-two" data-x="right" data-y="200" data-speed="500" data-start="4500" data-easing="easeOutCirc">
                      <a href="#" class="caption-button br-green"><i class="fa fa-laptop"></i> Book now</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Slider End -->
          </div>
        </div>
        <!-- Slider row column end -->
        