    <div class="wrapper-home">
      <div class="container">
        <div class="header">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <!-- Header -->
              <h1><a href="index.html">NYborhood</a></h1><span class="sub-header">Helping New Yorkers navigate the urban jungle, one building at a time.</span>
            </div>
                          
                <%= render 'search' %>
             
            <div class="col-md-4 col-sm-4">
              <!-- Social media links -->
              <div class="social">

              </div>
            </div>
          </div>
        </div>